
<div class="d-flex justify-content-between p-4 text-white ">
    <div class="col-md-4 col-sm-12">
        <p class="text-lowercase fs-6 fw-bold text-capitalize">All rights reserved.</p>
    </div>
    <div class="col-2">
        <a class="btn btn-primary btn-sm me-3">
            <img src="../../../assets/imagenes/tik-tok.png" alt="Logo Tiktok">
            </a>
        <a class="btn btn-primary btn-sm me-3">
            <img src="../../../assets/imagenes/github.png" alt="Logo GitHub">
        </a>
    </div>
</div>

