section{
    width: auto;
    position: relative;
}
video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* Ajuste de tamaño dependiendo de la pantalla */
h1{ 
    color: azure;
    background:rgba(0,0,0,0.7);
    font-size: 90px;
    text-align: center;
    font-weight: 400;
    mix-blend-mode: multiply;
    margin: 0;
    padding: 1px;
}

@media (min-width:768px){
    h1{
        font-size:150px;
    }
}
@media (min-width:992px){
    h1{
        font-size: 220px;
    }
}

