<!-- Overlay -->
<div>
    <app-overlay></app-overlay>
</div>

<!-- Sección de noticias -->

<div class="container bg mt-2">
    <app-noticias [noticias]="noticias"></app-noticias>
</div>


<!-- División de una sección con otra -->
<div class="division"></div>

<!-- Formulario de ingreso de especies nuevas -->
<div class="container mb-5">
    <app-formulario [miFormulario]="miFormulario"></app-formulario>
</div>

<!-- División de una sección con otra -->
<!-- <div class="division"></div> -->
