.bg{
    background-color: #f5f5f5; 
}
.bg2{
    background-color: white;
    background-color: #efefef;
    border-radius: 2px;
    -webkit-box-shadow: 2px 13px 9px 4px rgba(0,0,0,0.53);
    -moz-box-shadow: 2px 13px 9px 4px rgba(0,0,0,0.53);
    box-shadow: 2px 13px 9px 4px rgba(0,0,0,0.53);

    
    scroll-behavior: smooth;
}
