<div class="container col-xs-12 col-sm-6 col-md-8">
    <img class="rounded mx-auto d-block" src="../../../../assets/imagenes/Imagen1.png" alt="logo">
    <div>
         <h1 class="text-uppercase title-cat solid-var"> About Us</h1>
         <hr class="bg">
            <div class="text-start">
                <p> <strong>
                    <em class="text-uppercase fst-italic fw-bold">OCEAN IN DANGER</em>
                </strong> is a digital encyclopedia about endangered marine
                endangered marine species, aimed at the general public.</p>
                <p>
                    This encyclopedia was created with the aim of disseminating issues related to these species, 
                    such as a description of these species, the location where they are found, etc., as well as news on the subject.
                </p>
                <p>
                    An animal species is considered endangered when its existence and reproduction cannot develop anywhere in the world. In other words, it can never be seen again. This is generally due to the termination of a resource on which each and every species depends, either by human action, such as illegal hunting or indiscriminate felling of trees, or simply by changes in the ecosystem of the species that are the result of fortuitous events, such as climate change.
                </p>
            </div>
            <div>
                <h2 class="text-uppercase title-cat solid-var">¿What is OCEAN IN DANGER?</h2>
                <div class="text-start">
                    <p><strong>
                        <em class="text-uppercase fst-italic fw-bold">OCEAN IN DANGER</em>
                    </strong> is an independent medium for the dissemination of information and knowledge of all issues that are directly or indirectly related to the environment, more specifically to the extinction of marine species.</p>
                    <p>In <strong>
                        <em class="text-uppercase fst-italic fw-bold">OCEAN IN DANGER</em>
                    </strong> we want to contribute with a grain of sand by sharing information collected from different sources, and with this, to support the fulfillment of these objectives.</p>
                </div>
            </div>
            
    </div>
   
</div>

